.App {
  /* text-align: auto; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.circular-label{
  width: 60%;
  border-radius: 50%;
  line-height: 0;
  background: green;
  color: white;
  /* NECESSARY FOR TEXT */
  position: relative;  
}

.circular-label:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  /* NOT IMPORTANT */
  font-family: arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

.card{
  height: 100%;
}

.card-body{
  padding: 0.25rem;
  text-align: -webkit-center !important;
  height: auto;
  vertical-align: initial;
}

.col-centered{
  float: none;
  margin: 0 auto; 
}

.resultCard{
  border: 1px solid #dedede;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

.resultCard .badge {
  position: relative;
  margin-top: 15%;
}
.container{
  overflow: hidden;
}

.triangle{
  color: white;
  background-color: #444;
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.8);
  height: 100px;
  left: -50px;
  position: absolute;
  top: -50px;
  width: 100px;
  
  -webkit-transform: rotate(-45deg);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
